#double1 {
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: var(--wc);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--mc);
  margin-bottom: 35px;
}
#double2 {
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: var(--wc);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--mc);
  margin-left: 25px;
  margin-top: 10px;
}

#text {
  margin-left: 85px;
}

#user-component__avatar2 {
  padding: 18px 14px;
  background-color: var(--wc);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  color: var(--mc);
  margin-right: 15px;
}