.welcome-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  font-weight: 600;
}

.welcome-header__title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 28px;
  margin-bottom: 80px;
  color: var(--mc);
  animation: textFadeIn 2s ease-in-out;
}

.welcome-header__text{
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 250px;
  font-size: 20px;
  color: var(--orange);
  font-weight: none;
  font-size: 18px;
  animation: textFadeIn 2s step-end;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  font-weight: 600;
  animation: fadein 3s linear;
}

#login-form input {
  border: none;
  padding: 15px 0px;
  margin-bottom: 30px;
  font-size: 20px;
  margin-left: 60px;
  margin-right: 60px;
  background-color: var(--bg);
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid #2c2f3460;
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: #2c2f3460;
  padding-left: 5px;
}

#login-form input:focus {
  border-color: var(--mc);
}

#login-form input[type="submit"] {
  background-color: var(--mc);
  color: white;
  cursor: pointer;
  padding: 15px 0px;
  border-radius: 10px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  color:inherit;
  font-size: 15px;
  color: var(--badge);
}