#no-mobile {
  position: absolute;
  z-index: 101;
  height: 100vh;
  width: 100%;
  background-color: var(--orange);
  font-size: 40px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  flex-direction: column;
}

@media screen and (max-width:645px) {
  #no-mobile {
    display: none;
  }
}

#screen-icon {
  font-size: 120px;
  animation: fadeInMove 3s linear infinite;
  margin-bottom: 50px;
}

